.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  &__item {
  }

  &__link {
    text-decoration: none;
    color: #282e3e;
  }

  &__item:not(:last-child) {
    margin-right: 84px;
  }
}

.btn {
  color: $btn-color;
  background: #6252d4;
  border-radius: 5px;
  border: none;
  padding: 10px 26px;
}
