.container {
  max-width: 1140px;
  margin: 0px auto;
}

.header {
  position: relative;
  background-color: #f6f7fb;

  &__container {
    display: flex;
    min-height: 82px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: #282e3e;
    font-size: 34px;
    font-weight: 700;
    text-decoration: none;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: #282e3e;
  }

  &__item:not(:last-child) {
    margin-right: 84px;
  }
}

.btn {
  color: $btn-color;
  background: #6252d4;
  border-radius: 5px;
  border: none;
  padding: 10px 26px;
}
