.footer {
  background-color: $color-one;
  min-height: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    .about {
      text-decoration: none;
      color: $color-white;
      margin: 0 10px;
    }
  }
}

.rs__logo {
  min-height: 32px;
  min-width: 100px;
  background-image: url('../../assets/svg/rsschool.svg');
}

.github {
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('../../assets/svg/github.svg');
}
