@import 'normalize';

$main-font: 'Montserrat', sans-serif;
$logo-font: 'Work Sans', sans-serif;
$color-one: #463f66;
$color-two: #6252d4;
$color-black: #282e3e;
$color-bg: #f6f7fb;
$color-hover: #fcac00;

.title-font {
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 54px;
  color: $color-one;
  margin: 8px 0px;
}

.text-font {
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color-black;
  margin: 0;
}

.header-font {
  font-family: $main-font;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: $color-black;
  margin: 0;
}

.body-font {
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: $color-black;
  margin: 0;
}

.element-font {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: $color-black;
  text-align: center;
}

.body {
  background-color: $color-bg;
}

.content {
  // margin: 48px 0;
  max-width: 1140px;
  margin: 0px auto;
}

.header {
  margin-top: 32px;
}

.title-page {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 750px;
  margin-bottom: 32px;

  &__title {
    margin: 0;
  }
  &__text {
    margin: 0;
    width: 80%;
  }
}

.button {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 0;
}

.shadow-active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

  &:active {
    transform: translateX(2px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  }
}
