.hero {
  position: relative;
  background-image: url('../../assets/images/home-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 360px;

  &__title {
    position: absolute;
    bottom: 0;
    color: #fefefe;
    right: 30px;
    font-size: 6rem;
    text-transform: uppercase;
  }
}

// .main {
//   &__block {
//     margin: 48px auto !important;
//   }
// }

.cards {
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
  }

  &__item {
    padding: 48px 32px;
    background: $card-bg;
    border-radius: 15px;
  }

  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    color: $color-one;
    font-size: 24px;
    font-weight: 600;
  }

  &__icon {
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }
}

.container {
  max-width: 1140px;
  margin: 0px auto;
}
