@import '/src/scss/normalize';

.book-icon {
  background-image: url('../../assets/svg/card-1.svg');
}

.stair-icon {
  background-image: url('../../assets/svg/card-2.svg');
}

.segments-icon {
  background-image: url('../../assets/svg/card-3.svg');
}

.puzzle-icon {
  background-image: url('../../assets/svg/card-4.svg');
}
