.header {
  margin-top: 32px;
  margin-bottom: 48px;
  position: relative;
  background-color: $color-bg;

  &__container {
    display: flex;
    min-height: 82px;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    color: $color-black;
    text-align: center;
    text-decoration: none;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
  }

  &__item:not(:last-child) {
    margin-right: 84px;
  }
}
